<tr>
  <td class="col-xs-3">
    <%= task.name %>
  </td>
  <td class="col-xs-2 text-center">
    <%= format_value(task.start_date) %>
  </td>
  <td class="col-xs-2 text-center">
    <%= format_value(task.end_date) %>
  </td>
  <td class="col-xs-2 text-center">
    <%= format_value(task.due_date) %>
  </td>
  <td class="col-xs-2 text-center">
    <%= status_tag(task.status) %>
  </td>
  <td class="col-xs-1 text-center">
    <span class="glyphicon glyphicon-pencil"></span>
  </td>
</tr>
