<div id="task_<%= task.id %>" class="row row-task">
  <div class="col-xs-3 center-vertical">
    <%= task.name %>
  </div>
  <div class="col-xs-2 text-center center-vertical">
    <%= format_value(task.start_date) %>
  </div>
  <div class="col-xs-2 text-center center-vertical">
    <%= format_value(task.end_date) %>
  </div>
  <div class="col-xs-2 text-center center-vertical">
    <%= format_value(task.due_date) %>
  </div>
  <div class="col-xs-2 text-center center-vertical">
    <%= status_tag(task.status) %>
  </div>
  <div class="col-xs-1 text-center center-vertical">
    <%= link_to '', edit_task_path(task.id),
        remote: true,
        class: 'glyphicon glyphicon-pencil task-icons',
        id: "edit_task_#{task.id}"
    %>
  </div>
</div>
