<ul class="nav nav-tabs">
  <li class="<%= active?(root_path) %>">
    <%= link_to "Home", root_path %>
  </li>
  <li class="<%= active?(projects_path) %>">
    <%= link_to "Projects", projects_path %>
  </li>
  <li class="dropdown pull-right">
     <a href="#" data-toggle="dropdown" class="dropdown-toggle">Options<strong class="caret"></strong></a>
    <ul class="dropdown-menu">
      <% if current_user.admin? %>
        <li>
          <%= link_to "Admin Dashboard", admin_root_path %>
        </li>
        <li class="divider"></li>
      <% end %>
      <li>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </li>
</ul>
