<div class="row">
  <div class="col-xs-12">
    <%= form_for @project do |f| %>
    <div class="row">
      <div class="col-xs-3" >
        <div class="form-group">
          <%= f.label 'Name' %>
          <%= f.text_field :name, class: 'form-control'%>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label 'Description' %>
          <%= f.text_field :description, class: 'form-control', style: 'resize: none;' %>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-xs-12" id="phases">
          <%= f.fields_for :phases, f.object.phases.order(:position), include_id: false do |phase| %>
          <div id="phase_<%= phase.object.id %>" >
            <%= render partial: 'phase_fields', locals: {f: phase} %>
          </div>
          <% end %>
        </div>
      </div>

      <div class="links form-group">
        <%= link_to_add_association 'Add phase', f, :phases,
          :"data-association-insertion-node" => "div#phases",
          :"data-association-insertion-method" => "append",
          :partial => "phase_fields",
          :class => "links btn btn-primary",
          :id => "add_phase"%>
      </div>

      <div class="form-group">
        <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>
      </div>
    <% end %>
  </div>
</div>
