<div class="panel panel-default nested-fields">

		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-6">
					<div class="input-group">
						<strong>
							<%= f.text_field :name, class: 'form-control phase-input', placeholder: 'Phase Name'%>
						</strong>
						<span class="input-group-btn">
							<%= link_to_remove_association '<span class="glyphicon glyphicon-minus"></span>'.html_safe, f, class: 'btn btn-danger' %>
						</span>
					</div>
				</div>
			</div>
    </div>

		<div class="panel-body">
			<div class="row">
				<div class="col-xs-5"><label>Task name</label></div>
				<div class="col-xs-1 text-center"><label>Days</label></div>
				<div></div>
			</div>


			<div class="row">
				<div class="col-xs-12">
					<div class="tasks">
						<%= f.fields_for :tasks do |task| %>
							<%= render partial: 'tasks/task_fields', locals: {f: task} %>
						<% end %>
					</div>
					<%= link_to_add_association '<span class="glyphicon glyphicon-plus"></span>'.html_safe,
						f, :tasks,
						:"data-association-insertion-method" => "append",
						:"data-association-insertion-traversal" => "prev",
						:"data-association-insertion-node" => "div div.tasks",
						:partial => "tasks/task_fields",
						:class => "btn btn-primary" %>
				</div>
			</div>
		</div>

</div>
