<h1><%= @project.name %></h1>

<div class="panel-group">
<% @project.phases.each do |phase| %>
  <div class="panel panel-default panel-phase">

    <div class="panel-heading">
      <h4><strong><%= phase.name %></strong></h4>
    </div>

    <div class="panel-body phase-panel-body">
      <div id="phase_<%= phase.id %>">

        <div class="row task-header">
          <div class="col-xs-3"> Task Name </div>
          <div class="col-xs-2 text-center"> Start Date </div>
          <div class="col-xs-2 text-center"> End Date </div>
          <div class="col-xs-2 text-center"> Due Date </div>
          <div class="col-xs-2 text-center"> Status </div>
        </div>

        <div id="phase_<%= phase.id %>_tasks" class="striped">
          <%= render phase.tasks %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
