<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
  				<h1>
  					Dashboards <small></small>
  				</h1>
          <%= render 'shared/nav' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
